<footer class="page-footer teal darken-3">
          <div class="container">
            <!-- <div class="row">

              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Avisos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Aviso de privacidad</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Política de privacidad</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Ciudad de México
            <a class="grey-text text-lighten-4 right" href="#!">Dev.F Batch 10</a>
            </div>
          </div>
</footer>
