<div class="slider">
  <ul class="slides">
   <li>
     <img src="img/slider1.jpg"> <!-- random image -->
     <div class="caption center-align">
       <h3 class="color">Es una aplicación para facilitar el trabajo de los seguros</h3>
       <h5 class="dark brown-text text-lighten-3">¡Esto es genial!!!</h5>
     </div>
   </li>
   <li>
     <img src="img/slider2.jpg"> <!-- random image -->
     <div class="caption left-align">
       <h3>Te ofrecemos las herramientas</h3>
       <h5 class="light grey-text text-lighten-3">Y la app lo hace por tí.</h5>
     </div>
   </li>
   <li>
     <img src="img/slider3.jpg"> <!-- random image -->
     <div class="caption right-align">
       <h3>Guarda toda la información de las pólizas</h3>
       <h5 class="light grey-text text-lighten-3">Solamente llenas datos.</h5>
     </div>
   </li>
   <li>
     <img src="img/slider4.jpg"> <!-- random image -->
     <div class="caption center-align">
       <h3 class="color">Le recordamos a tus clientes pagar</h3>
       <h5 class="dark brown-text text-lighten-3">¡¡¡Y a tí cobrar!!! </h5>
     </div>
   </li>
  </ul>
</div>
