<div class="slider">
  <ul class="slides">
   <li>
     <img src="img/lock.jpeg"> <!-- random image -->
     <div class="caption center-align">
       <h3 class="black-text text-lighten-3">Es una aplicación para facilitar el trabajo de los agentes de seguros</h3>
     </div>
   </li>
   <li>
     <img src="img/slider2.jpg"> <!-- random image -->
     <div class="caption left-align">
       <h1>Te ofrecemos las herramientas</h1>
       <h3 class="light grey-text text-lighten-3">Y la app lo hace por tí.</h3>
     </div>
   </li>
   <li>
     <img src="img/slider3.jpg"> <!-- random image -->
     <div class="caption right-align">
       <h2>Guarda toda la información de las pólizas</h2>
       <h3 class="light grey-text text-lighten-3">Solamente llenas datos.</h3>
     </div>
   </li>
   <li>
     <img src="img/slider4.jpg"> <!-- random image -->
     <div class="caption down-align">
       <h3 class="white-text">Le recordamos a tus clientes pagar</h3>
       <h5 class="white-text">¡¡¡Y a tí cobrar!!! </h5>
     </div>
   </li>
  </ul>
</div>
