*{
  margin:0;
  padding: 0;
}
div.card {
  width:300px;
  height: auto;
}

div.mainrow{
  width:400px;
  height: auto;
  margin right: 50px;
  margin top: 0 px;
  margin-bottom: 2px;
  padding: 10px;
  display: inline-block;
}
div.card-content{
  background-color: #F5ECCE;
}
.responsive-img{
  height: 39px;
  width: 39px;
  border-radius: 100px;
  margin-right: 13px;
}
footer{
  background-color: blue;
}

#mainindex {
  width: 100%;
  height: 800px;
}
.row{
  display: flex;
  flex-direction: row;
}

#botones{
  z-index: 1000;
  position: absolute;
  top:40%;
  /*right: 40%;*/
  margin-left: 29%;
  margin-top: 90px;
}
#botones a {
  margin-left: 50px;
  height: 54px;
  width: 190px;
}
#indexsection{
  position: relative;
  background: url("../img/homecover.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -300px ;
}
#rowindex{}

#navindex{
  height: 90px;
}
#brandlogoo{
  height: 82px;
  width: auto;
}

.large material-icons{
  height: 90px;
  width: auto;
}
.navtitulos{
  font-size: 19px;
  font-style: thin;
  margin-right: 20px;
}
.slidermain{
  height: 510px;
}

#textoindex{
  margin-left: 29%;
  margin-top: 10px;
}
/*.waves-effect{

}*/
